

body {background-image:url(./images/fondo7.jpg);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: rgb(239, 230, 231);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;

       
}

a:hover {
    color: rgb(182, 126, 21) !important;
}


